.descuento {
    background-color: #1CD1B0; 
    height: 45px;
    font-family: Roboto, sans-serif;
    color: #000000; 
    font-style: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
}

h1 {
    font-family: Roboto, sans-serif;
    color: #000000; 
    font-style: normal;
    font-size: 40px;
    background-color:#00669F;
    height: 80px;
    left: 0px;
    display: flex;
    align-items: center
}

.card {
    display: inline-block;
    align-items: center;
    width: 600px;
    height: 700px;
}

.batman {
    position: relative;
    top: 100px;
    left: 210px;
    border-radius: 50%;
    z-index: 50
}

.harley {
    position: relative;
    top: 100px;
    left: 210px;
    border-radius: 50%;
    z-index: 50
}

.corazon {
    position: relative;
    z-index: 50;
    right: 290px;
    top: -100px
}

.murobatman {
    position: relative;
    top: 50px;
    left: 0px
}

.muroharley {
    position: relative;
    top: 50px;
    left: 0px
}

p {
    background-color: #f3f3f3;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    position: relative;
    width: 272px;
    top: -50px;
    left: 123px;
    padding: 130px 15px
}

/**titulo para batman**/
.titulobat {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-style: normal;
    position: relative;
    top: 80px;
    left: 205px;
    z-index: 50
}

/**titulo para harley**/
.tituloharley {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-style: normal;
    position: relative;
    top: 80px;
    left: 160px;
    z-index: 50
}

.VerMas { 
    position:absolute;
    background-color: #00669F;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    color: #F3F3F3;
    text-align: center;
    display: inline-block;
    width: 80px;
    height: 20px;
    top: 500px;
    left: 230px;
    padding: 15px
}

footer { 
    background-color: #00669F;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    padding: 20px
}

card {
    display: flex;
    flex-direction: column;
    align-content: center;

}

/* estilo para el registro */

.form-register {
    display: flex;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.formulario{
    width: 400px;
    padding: 50px;
}

.datos {
    padding: 30px;
    font-size: 20px;

}

.form-register p {
    
}